@import "tailwindcss";

:root {
  --background: #e0e0ce;
  --foreground: #000000;
  --app-primary: #ad343e;
  --app-muted: #474747;
  --app-accent: #f2af29;
  --app-dark: #000000;
  --app-light: #e0e0ce;
  --app-panel: #f3f3e8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-app-bg: var(--background);
  --color-app-text: var(--foreground);
  --color-app-primary: var(--app-primary);
  --color-app-muted: var(--app-muted);
  --color-app-accent: var(--app-accent);
  --color-app-dark: var(--app-dark);
  --color-app-light: var(--app-light);
  --color-app-panel: var(--app-panel);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, Helvetica, sans-serif;
}
